{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora - IMC</title>
    <link rel='stylesheet' href={% static "imc/style.css" %}
</head>
<body>
    <div class="content-box">
        <div class="flex-box">
            <div class="title-box">
                <h2>Calculadora de IMC</h2>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-box">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" class="input-button" value="Calcular">
            </form>

            {% if imc %}
                <div class="result-box">
                    <p>Resultado: {{imc}}</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>